/* .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e5e5e5;
    padding: 50px 20px;
    text-align: left;
}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size: 48px;
    color: #1d3557;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    color: #f0e6e6;
    margin-bottom: 20px;
}

.hero-image img {
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.hero-image {
    max-width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
} */


.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e5e5e5;
    padding: 50px 20px;
    text-align: left;
    min-height: 50vh; /* Set the minimum height to 80% of the viewport height */
}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size: 48px;
    color: #1d3557;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    color: #f0e6e6;
    margin-bottom: 20px;
}

.hero-content .btn-primary {
    background-color: #004643;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-content .btn-primary:hover {
    background-color: #011014;
}

.hero-image img {
    width: 100%;
    max-width: 500px; /* Max width for the image */
    height: auto;
    border-radius: 10px;
}

.hero-image {
    max-width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
