.new-navbar {
    background-color: #c57171; /* Change background color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem; /* Increased padding for a bigger navbar */
}

.new-navbar-brand {
    color: #050505; /* Change brand color */
    font-size: 2.5rem; /* Increased brand font size */
}

.new-navbar-links {
    display: flex;
    gap: 0rem; /* Increased space between buttons */
}

/* New Button Style */
.new-btn {
    background-color: #004643; /* Button background color */
    color: white; /* Button text color */
    border: none; 
    height: 80px; /* Increased button height */
    padding: 0.5rem 2rem; /* Increased button padding */
    border-radius: 5px; /* Optional: Slightly rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Transition effect */
    font-size: 1.5rem; /* Increased button text size */
    width: 95%; /* Increased button width */
}

.new-btn:hover {
    background-color: #011014; /* Change color on hover */
}

/* Take Action Button Style */
.takeaction {
    background-color: #E8CF1A; /* Button background color */
    color: white; /* Button text color */
    border: none; 
    height: 80px; /* Increased button height */
    padding: 0.5rem 2rem; /* Increased button padding */
    border-radius: 5px; /* Optional: Slightly rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Transition effect */
    font-size: 1.5rem; /* Increased text size */
    width: 95%; /* Increased button width */
}

.takeaction:hover {
    background-color: #011014; /* Change color on hover */
}

/* Menu Button Style */
.menu {
    background-color: #0A4931; /* Button background color */
    color: white; /* Button text color */
    border: none; 
    height: 80px; /* Increased button height */
    padding: 0.5rem 2rem; /* Increased button padding */
    border-radius: 5px; /* Optional: Slightly rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Transition effect */
    font-size: 1.5rem; /* Increased button text size */
    width: 95%; /* Increased button width */
}

.menu:hover {
    background-color: #e1eaec; /* Change color on hover */
    color: #0A4931; /* Change text color on hover */
}
